<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="consoleListener" type="System.Diagnostics.ConsoleTraceListener" />
        <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="log.txt" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>
